# For Loop <hr style="border:2.5px solid#ff7f50"></hr>

Data Analyst: Bryx V. Agravante <br>
Department: Electrical Engineering

In [ ]:
%pip install numpy --upgrade

In [ ]:
%pip install scipy --upgrade

In [13]:
import numpy as np
from scipy import stats

# Iterating Over a list

In [7]:
fruits = ['apple','orange','grapes',5]
for i in fruits:
    print(i)

apple
orange
grapes
5

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [9]:
np.mean(numbers)

np.float64(5.5)

In [ ]:
# population standard deviation
np.std(numbers)

np.float64(2.8722813232690143)

In [11]:
# sample standard deviation
np.std(numbers,ddof=1)

np.float64(3.0276503540974917)

In [12]:
np.median(numbers)

np.float64(5.5)

In [14]:
stats.mode(numbers)

ModeResult(mode=np.int64(1), count=np.int64(1))

# Iterating Over a Dictionary

In [17]:
for j in range (0,10):
    j = j + 1
    print(j)

1
2
3
4
5
6
7
8
9
10

In [4]:
for j in range(1,10,3):
    print(j)

1
4
7

In [5]:
for char in "python":
    print(char)

p
y
t
h
o
n

In [1]:
employee = {
    'name':'Bryx',
    'position':'Electrical Engineer',
    'salary':150000
}
for key in employee:
    print(key)

for value in employee.values():
    print(value)

name
position
salary
Bryx
Electrical Engineer
150000